*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
html{
    height: 100%;
    scroll-behavior: smooth;
    font-size: 62.5%; <!--10px ga teng-->
}
body{
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    font-family: 'Rubik',"Arial", sans-serif;
    font-size: 16px;
    line-height: 22px;
    color:#4a4b4c;
    background-color: #fff;
}
.container{
    width: 100%;
    max-width: 1240px;
    padding-left: 2rem;
    padding-right: 2rem;
    margin-left: auto;
    margin-right: auto;
}
.img-container{
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    list-style: none;
    column-gap: 3rem;
}
.images{
    cursor: pointer;
    padding: 4rem 4rem;
    width: 30rem;
    background-color: aqua;
    border: 2px solid black;
    border-radius: 1rem;
    text-align: center;
    transition: all 0.9s ease-in;
}
.rotate{
    transform:rotateY(360deg);
}
